<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Home page start point -->
    <!-- slider section  -->
  <ion-card>
    <ion-slides autoplay="3000" pager>
      <!-- slide one -->
      <ion-slide>
        <img src="./assets/imgs/images/slide-01.jpg" />
      </ion-slide>
      <!-- end of slide one -->
      <!-- Slide two -->
        <ion-slide>
        <img src="./assets/imgs/images/slide-02.jpg" />
      </ion-slide>
      <!-- end of slide two -->
      <!-- slide three -->
      <ion-slide>
        <img src="./assets/imgs/images/slide-05.jpg" />
      </ion-slide>
      <!-- end of slide three -->
      <!-- slide four -->
      <ion-slide>
        <img src="./assets/imgs/images/slide-04.jpg" />
      </ion-slide>
      <!-- end of slide four -->
    </ion-slides>
  </ion-card>
    <!-- End of slider section -->
    <ion-grid>
      <ion-row>
        <ion-slides>
          <ion-slide *ngFor="let product of products">
            <ion-card no-padding>
              <img [src]="product.featured_src" />
              <h1> {{ product.title }}</h1>
              <p> {{ product.short_description }} </p>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-row>
    </ion-grid>
  <!-- Home page end page point -->
</ion-content>
